<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Notes</title>
</head>
<body>
    <h1 class="jumbotron">
        Notes
    </h1>
    <div class="main">
        <div class="container underline">
            <form class="add">
                {% csrf_token %}
                <h2>Add a new Note</h2>
                <label class="form-group">Title</label>
                {% for message in messages %}
                        <div class="fail">
                            <p>{{message}}</p>
                        </div>
                {% endfor %}
                <input type="text" class="form-control" name="title" placeholder="e.g. Useful Links">
                <label class="form-group">Description</label>
                <textarea class="form-control" rows="5" name="description" placeholder="Give details here..."></textarea>
                <input type="submit" class="btn btn-primary" value="Create Note">
            </form>
        </div>
        <div class="container" id="head">
            <div class="text">
                <h2>Your Notes</h2>
            </div>
        </div>
        <div class="list">
        {% for note in notes %}
            <div class="container">
                <form class="form edit" action="edit/{{note.id}}/">
                    {% csrf_token %}
                    <div class="top">
                        <h3 class="form-group">{{ note.title }}</h3>
                        <a class="btn btn-danger delete" href="/delete/{{note.id}}/">Delete</a>
                    </div>
                    <textarea class="form-control" name="edit_description" rows="5">{{note.description}}</textarea>
                    <input type="submit" class="btn btn-primary" value="Edit Note">
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
<script>
    $('.add').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/add/',
            method: 'POST',
            data: $(this).serialize(),
            success: function(serverResponse){
                $('.list').html(serverResponse)
            }
        })
    });
    $(document).on('submit', '.edit', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: 'POST',
            data: $(this).serialize(),
            success: function(serverResponse){
                $('.list').html(serverResponse)
            }
        })
    });
    $(document).on('click', '.delete', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('href'),
            method: 'POST',
            data: $(this).serialize(),
            success: function(serverResponse){
                $('.list').html(serverResponse)
            }
        })
    });
</script>
</html>